.hoem-container {
  width: 100%;
  margin: 0 auto;
}

.home-banner {
  width: 100%;
  // height: calc(100vh - 92px);
  height: 1280px;
  background-image: url("Concert 2.jpg");
  background-size: cover;
  background-position: center;
}



.banner {
  background-size: cover;
  background-position: center;
  height: 88vh;
  padding: 150px 0;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 100px;
    font-weight: bold;
  }
  p {
    font-size: 30px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}



/* CAROUSEL SLIDERS */

.carousel {
  width: 100%;
  height: calc(100vh - 92px);
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
  z-index: 1;
}
.slide-headline {
  position: absolute;
  top: 6%;
  left: 8%;
  width: 70%;
}
.slide > p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: 'Outfit', sans-serif;
  font-size: 48px;
  color: white;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1.5;
  transition-delay: 0ms;
}
.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  z-index: 2;
  transition: 0.3s ease;
}
.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}
.btn-start {
  position: absolute;
  top: 20%;
  left: 8%;
  width: 10%;
  color: #FFFBFC;
  background-color: #92B4EC;
  padding: 8px 24px;
  border-radius: 50px;
  font-family: 'Outfit', sans-serif;
  font-weight: lighter;
  font-size: 21px;
  transition: 0.5s ease;
  z-index: 4;
}
.btn-start:hover {
  color: #92B4EC;
  background-color: #FFFBFC;
  padding: 8px 24px;
  border-radius: 50px;
}
.btn-start span {
  // cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s ease;
}
.btn-start span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  // top: 0;
  right: -10px;
  transition: 0.3s ease;
}
.btn-start:hover span {
  transform: translateX(4px);
  padding-right: 18px;
}
.btn-start:hover span:after {
  opacity: 1;
  right: 0;
}

@-webkit-keyframes rightarrow {
  0% { -webkit-transform: translateX(0); opacity: 0.7 }
  100% { -webkit-transform: translateX(0.3em); opacity: 0.9 }
}
@-webkit-keyframes leftarrow {
  0% { -webkit-transform: translateX(0); opacity: 0.7 }
  100% { -webkit-transform: translateX(-0.3em); opacity: 0.9 }
}
.right {
  -webkit-animation: rightarrow 0.6s infinite alternate ease-in-out;
}
.left {
  -webkit-animation: leftarrow 0.6s infinite alternate ease-in-out;
}
