.hoem-container {
  width: 100%;
  margin: 0 auto;
}

.test-bg {
  height: 800px;
  width: 100%;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 88vh;
  padding: 150px 0;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 100px;
    font-weight: bold;
  }
  p {
    font-size: 30px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.btn-ghost {
  color: #FFFBFC;
  background-color: #EC058E;
  border: 1px solid #FFFBFC;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: 0.7s ease;
}
.btn-ghost:hover {
  color: #EC058E;
  background-color: #FFFBFC;
  border: 1px solid #EC058E;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: 0.7s ease;
}


/* CAROUSEL SLIDERS */

.carousel {
  width: 90%;
  height: 400px;
  position: relative;
  margin: 0 auto;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
.slide-text {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  background-color: rgba(0, 0, 0, 0.4);
  width: 160px;
  padding: 4px;
  font-size: 14px;
  color: white;
  opacity: 0.5;
}
.slide > p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1.5;
  transition-delay: 0ms;
}
.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
  /* border-radius: .25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1); */
  z-index: 2;
  transition: 0.3s ease;
}
.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}
/* .carousel-button:focus { */
  /* outline: 1px solid black; */
/* } */
.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}
