// Styling Variables

$theme-color: #92B4EC;
$hover-color: rgba(146, 180, 236, 0.1);
// $hover-color: rgba(128, 128, 128, 0.05);

$navbar-h: 90px;
$navbar-logo-h: 60px;

$navbar-shadow: 0px 0px 15px rgba(0,0,0,0.2);
$search-shadow: 0px 0px 7.5px rgba(0,0,0,0.1);
$search-shadow-h: 0px 0px 7.5px rgba(0,0,0,0.2);
$item-shadow: 0px 0px 10px rgba(0,0,0,0.15);
$item-shadow-h: 0px 0px 10px rgba(0,0,0,0.25);

$icon-btn-size: 50px;
$fa-icon-container: 36px;
$fa-icon-size: 1rem;
$fa-icon-size-l: 1.25rem;

$input-font-size: 1rem;
$font-t: 'Outfit', sans-serif;


.flatpickr-calendar {
  font-family: $font-t;
  width:fit-content;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: $search-shadow;

  .flatpickr-months {
    margin-bottom: 0.5rem;
    align-items: center;
    height: 3rem;

    .flatpickr-month {
      display: flex;
      align-items: center;
      height: auto;
      width: 100%;
    }

    .flatpickr-current-month {
      font-size: 120%;
      position: relative;
      left: auto;
      height: auto;
      width: 100%;
      margin-left: 0.45rem;
      padding: 0;
    }

    .flatpickr-prev-month {
      position: relative;
      top: auto;
      height: fit-content;
      padding-left: 1rem;
    }

    .flatpickr-next-month {
      position: relative;
      top: auto;
      height: fit-content;
      padding-right: 1rem;
    }

    .flatpickr-disabled {
      display: inline;
      z-index: 0;
      opacity: 0;
    }

    .flatpickr-day selected {
      background-color: $theme-color;
      border-color: $theme-color;
    }
  }
}

.dayContainer {

  .flatpickr-day {
    transition: 0.2s all;

    &:hover {
      background: $theme-color;
    }
  }
  .flatpickr-disabled {

    &:hover {
      background: none;
    }
  }

  .startDate {
    background: rgba(146, 180, 236, 0.25);
  }
}
