// Styling Variables

$theme-color: #92B4EC;
$hover-color: rgba(146, 180, 236, 0.1);
// $hover-color: rgba(128, 128, 128, 0.05);

$navbar-h: 90px;
$navbar-logo-h: 60px;

$navbar-shadow: 0px 0px 15px rgba(0,0,0,0.2);
$search-shadow: 0px 0px 7.5px rgba(0,0,0,0.1);
$search-shadow-h: 0px 0px 7.5px rgba(0,0,0,0.2);
$item-shadow: 0px 0px 10px rgba(0,0,0,0.15);
$item-shadow-h: 0px 0px 10px rgba(0,0,0,0.25);

$icon-btn-size: 50px;
$fa-icon-container: 36px;
$fa-icon-size: 1rem;
$fa-icon-size-l: 1.25rem;

$input-font-size: 1rem;
$font-t: 'Outfit', sans-serif;


// General Layout

.show-container {
  margin: 0 auto;
  margin-top: 1rem;
  width: 75%;
}

// Friend - Headline Info

.friend-main-info {
  margin-top: 4rem;

  h3 {
    font-family: $font-t;
    margin-bottom: 0rem;
  }

  .friend-sub-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    height: 1.25rem;
    font-family: $font-t;

    .friend-sub-left {
      display: flex;
      align-items: center;

      span {
        margin-right: 0.5rem;
      }
    }
  }
}

// Friend - Share and Like Btns

.friend-sub-right {

  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa-arrow-up-from-bracket {
    font-size: 1.1rem;
    margin-right: 0.25rem;
  }

  span {
    margin-right: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;

    &:hover {
      background: rgba(230, 230, 230, 1);
      color: $color-t;
    }
  }

  .fav-container {

    a {
      text-decoration: none;
      color: black;
    }

    .btn {
      border-width: 0;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      padding: 0;
    }

    .fav-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      transition: 0.5s all ease-in-out;

      &:hover {
        background: rgba(230, 230, 230, 1);
        color: $color-t;
      }
    }

    .fav-icons-liked {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1rem;
      border-radius: 20px;
      color: $color-t;
      transition: 0.5s all ease-in-out;

      &:hover {
        background: rgba(230, 230, 230, 1);
        color: black;
      }
    }

    .fd-fa-heart {
      font-size: 1.1rem;
      margin-right: 0.25rem;
    }
  }
}

// Friend - Photos

.friend-card-top {
  width: 100%;
  margin-top: 2rem;

  .friend-img {
    width: 100%;
    height: 640px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75rem;
    overflow: hidden;

    .friend-img-left {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: $item-shadow;
        // cursor: pointer;
        cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAQAAADYBBcfAAAAqElEQVR42qWVOQ7EIAxF3wmoUqXMGTgGBR1lNCji/jdghDI7MATbv+XJu4HaFiyOQCQScFgWhrYRSA0Ftj5k8E3oKY9pYSv7X6xoZ62xY4gVHd+oueDt7fUjYH8ZO3N9VTJN6lHhdgNSzjl3wHC2O02DqYyEFYEWnAh03QwHYIBYP2/ZDxil4E0Rqrg44naIB0A8coohF6+VYpHFp0NxrBTnUXGQp76AO/soOi9I+gdeAAAAAElFTkSuQmCC"), auto;
        transition: 0.3s all ease-in-out;

        &:hover {
          filter: brightness(90%);
        }
      }
    }

    .friend-img-right {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.5rem;

      .photo {
        width: 100%;
        min-height: 320px;
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: $item-shadow;
        cursor: pointer;
        transition: 0.3s all ease-in-out;

        &:hover {
          filter: brightness(90%);
        }
      }
    }
  }
}

.friend-photos-window {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: white;
//   overflow: hidden;
//   z-index: 10;

  .carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
  }

  .carousel_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel_tracker-container {
    position: relative;
    background: lightblue;
    height: 100%;
  }

  .carousel_track {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}






// .container {
//   margin: 0 auto;
//   margin-top: 20px;
//   width: 100%;
// }

// .friend-card-top {
//   display: flex;
//   align-items: center;
//   margin-bottom: 25px;
// }

// .friend-img .cl_img {
//   width: 250px;
//   height: 250px;
//   object-fit: cover;
// }

.friend-card-top .friend-info {
  padding: 16px;
}

.friend-bio {
  word-wrap: break-word;
  width: 850px;
}

.friend-card-bottom {
  display: flex;
  // align-items: center;
  margin-top: 25px;
  justify-content: space-between;
}

.friend-card-bottom .friend-rate-card {
  padding: 16px;
}

.friend-form{
  width: 250px;
}

.friend-form h6{
  width: 250px;
  font-family: 'Bona Nova', serif;
}

.col {
  padding-bottom: 10px;
}

.btn-primary {
  width: 100%;
  margin-right: 10px;
}

.card-review {
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 1000px;
}

.card-review img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-review h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-review p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-review .card-review-infos {
  padding: 16px;
}
