<div class="footer">

  <div class="footer-content">
    <div class="footer-contributors">
      <p>This Rent A Friend Edition is based on a original group project contributed by:</p>
      <ul>
        <li>Louis</li>
        <li>Jason</li>
        <li>Justin</li>
        <li>Harry</li>
      </ul>
    </div>

    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
