<div class="footer">

  <div class="footer-content">
    <div class="footer-contributors">
      <p>This Rent A Friend Edition is built by Ling Fung Chan,<br>and based on a original project contributed by:</p>
      <ul>
        <li>Harry, Jason, Ling Fung and Louis</li>
        <li><a href="https://airbnb-ljdbar.herokuapp.com/">Original Project</a></li>
      </ul>
    </div>

    <div class="footer-contact">
      <p>Contact Ling Fung Chan:</p>
      <div class="footer-links">
        <a href="https://www.linkedin.com/in/justinlfchan/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/lingfungc"><i class="fab fa-github"></i></a>
        <a href="mailto:justinlfchan@g,ail.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
    </div>
  </div>
</div>
