<div class="home-container">

  <%# <div class="home-banner">

  </div> %>

  <section aria-label="background-slideshow">
    <div class="carousel" data-controller="landing-page-sliders" data-carousel>
      <button class="carousel-button prev" data-carousel-button="prev">&#10094;</button>
      <button class="carousel-button next" data-carousel-button="next">&#10095;</button>
      <ul data-slides>
        <li class="slide" data-active>
          <%= image_tag "Concert 2.jpg" %>
        </li>
        <li class="slide">
          <%= image_tag "Mates.jpg" %>
        </li>
        <li class="slide">
          <%= image_tag "Share Feeling.jpg" %>
        </li>
        <li class="slide">
          <%= image_tag "Become A Friend.jpg" %>
        </li>
      </ul>
    </div>
  </section>

</div>
