<%# <div class="home-banner" style="background-image: url('https://images.unsplash.com/photo-1564590325500-35fd32a51fac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3552&q=80')">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div> %>

<section aria-label="Film Photography">
  <div class="carousel" data-carousel>
    <button class="carousel-button prev" data-carousel-button="prev">&#10094;</button>
    <button class="carousel-button next" data-carousel-button="next">&#10095;</button>
    <ul data-slides>
      <li class="slide" data-active>
        <img src="images/victoria habour.jpg" alt='Hong Kong #1' style="width:100%">
        <p class="slide-text">Victoria Habour</p>
      </li>
      <li class="slide">
        <img src="images/central.jpg" alt='Hong Kong #2' style="width:100%">
        <p class="slide-text">Central</p>
      </li>
      <li class="slide">
        <img src="images/peng chau.jpg" alt='Hong Kong #3' style="width:100%">
        <p class="slide-text">Peng Chau</p>
      </li>
    </ul>
  </div>
</section>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1564590325500-35fd32a51fac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3552&q=80);">
  <div class="container">
    <h1><em>Welcome to Rent-A-Friend</em></h1>
    <br>
    <p>Rent a friend or be a friend.</p>
    <%= link_to "Start here", "friends#index", class: "btn btn-ghost" %>
  </div>
</div>
