.footer {
  background-color: white;
  width: 100%;
  color: rgba(0,0,0,0.2);
}

.footer-content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0px;
}
.footer-content .footer-contributors {
  transform: translateY(8px);
}
.footer-contributors > ul {
  list-style: none;
  transform: translateX(-8px);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(0, 0, 0);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.5s;
}
.footer-links a:hover {
  opacity: 1;
  color: #ea0583f6;
}
