// NAVBAR - Layout

.navbar-container {
  margin: auto;
  width: 70%;
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-logo {
    height: 60px;
  }
  .navbar-opt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 50px;
  }
}
@media (max-width: 576px) {
  .navbar-container {
    width: 90%;
  }
  .navbar-opt {
    display: none !important;
  }
}

// DROPDOWN - Seach
.dropdown-search {
  cursor: pointer;
}
.dropdown-search-bar {
  position: fixed;
  top: -92px;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 92px;
  z-index: 3;
}
.dropdown-search-bar.active {
  position: fixed;
  top: 0;
}

// USER MENU - Layout
// color: #92B4EC

.user-menu {
  width: 50px;
  height: 100%;
}
.user-menu .user-choice {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}
// USER MENU - Avatar (edit in avastar.scss)


// USER MENU - Guest Mode
.user-btn {
  color: #92B4EC;
  position: absolute;
  right: 245px;
  width: 50px;
  height: 50px;
  background-color: rgba(146, 180, 236, 0);
  border-radius: 50%;
  font-size: 21px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.25s;
}
.user-btn:hover {
  color: #92B4EC;
  background-color: rgba(146, 180, 236, 0.1);
}
.user-btn .fa-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// SEARCH FIELD - Layout
// color: #92B4EC | rgb(217, 38, 93)

.search-container {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8px;
}
// SEARCH FIELD - Search Box
.search-container .search-box {
  height: 100%;
  width: 50px;
  background: #fff;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.17,0.67,1,1.23);
}
.search-container .search-box.active {
  width: 100%;
  opacity: 1;
  transform: translateX(-18%);
}
// SEARCH FIELD - Search Box Input Field
.search-box .search-input {
  display: none;
  width: 0;
  border-width: 0;
  padding: 0;
  opacity: 0;
}
.search-container .search-input.active {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  width: 220px;
  background-color: rgba($color: #FFFFFF, $alpha: 0);
  border: none;
  outline: none;
  font-size: 18px;
  opacity: 1;
  transition: all 0.25s;
}
::placeholder {
  font-size: 18px;
  opacity: 0.5;
}
// SEARCH FIELD - Search Btn
.search-container .search-btn-a {
  color: #92B4EC;
  position: absolute;
  // right: 290px;
  font-size: 21px;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: rgba(146, 180, 236, 0);
  border-radius: 50%;
  opacity: 0.75;
  cursor: pointer;
  z-index: 2;
  transition: all 0.25s ease;
}
.search-container .search-btn-a.disable {
  display: none;
}
.search-container .search-btn-a:hover {
  background-color: rgba(146, 180, 236, 0.1);
}
.search-container .search-btn-a .fa-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-container button {
  padding: 0;
  border-width: 0;
}
// SEARCH FIELD - Search Box Search Btn
.search-container .search-btn-query {
  color: #92B4EC;
  position: absolute;
  top: 50%;
  transform:translateY(-52%);
  right: 18px;
  font-size: 21px;
  text-align: center;
  border-radius: 50px;
  opacity: 0.5;
  cursor: pointer;
}
.search-container .search-btn-query:hover {
  opacity: 1;
  transition: all 0.25s ease;
}
// SEARCH FIELD - Search Box Cancel Btn
.search-container .cancel-btn {
  color: #92B4EC;
  position: absolute;
  // right: 290px;
  font-size: 26px;
  width: 40px;
  height: 40px;
  background-color: rgba(146, 180, 236, 0);
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  transition: all 0.25s ease;
}
.search-container .cancel-btn.active {
  opacity: 1;
  cursor: pointer;
}
.search-container .cancel-btn:hover {
  background-color: rgba(146, 180, 236, 0.1);
}
.search-container .cancel-btn .fa-times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
