.navbar-container {
  margin: auto;
  width: 70%;
  padding: 8px 0px;
  display: flex;
  justify-content: space-between;

  .navbar-logo {
    height: 80px;
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .search {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-right: 20px;

    .search-bar {
      opacity: 0;
      visibility: hidden;
    }

    .search-icon,
    .search-hide {
      cursor: pointer;
      font-size: 24px;
      opacity: 0.6;
      transition: 0.2s ease;
    }
    .search-hide {
      font-size: 30px;
    }
    .search-icon:hover,
    .search-hide:hover {
      opacity: 0.4;
    }

    .appear {
      opacity: 0.6;
      visibility: visible;
    }
    .disappear {
      opacity: 0;
      visibility: hidden;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }

  .nav-link {
    color: white;
    background-color: #ec058e;
    border: 1px solid white;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    transition: 0.3s ease;
  }

  .nav-link:hover {
    background-color: #CE047B;
    color: white;
    border: 1px solid white;
    // opacity: 1;
  }

  .search-radius {
    border-radius: 50px;
  }

  .login {
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #62BBC1 !important;
  }
}


// color: #92B4EC

.search-container {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-container .search-box {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.17,0.67,1,1.23);
}
.search-container .search-box.active {
  opacity: 1;
}
.search-box .search-input {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  width: 220px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
}
.search-container .search-btn-a {
  color: #92B4EC;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 290px;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
  opacity: 0.75;
  cursor: pointer;
  z-index: 1;
}
.search-container .search-btn-a.disable {
  display: none;
}
.search-container button {
  padding: 0;
  border-width: 0;
}
.search-container .search-btn-query {
  color: #92B4EC;
  position: absolute;
  top: 50%;
  transform:translateY(-51%);
  right: 290px;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
}
.search-container .cancel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 245px;
  color: #92B4EC;
  font-size: 24px;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 1;
}
.search-container .cancel-btn.active {
  opacity: 1;
  cursor: pointer;
}
